body{
  /*background-color: #E6F2D5;*/
  font-family: Gentium Book Basic;
  width: 100%;
}

nav{
  background-color: #A1EF8C;
  padding: 20px;
  position: relative;
}

#hamburger {
  width: 3em;
  height: 3em;
  float:right;
}
