body{
  /*background-color: #E6F2D5;*/
  font-family: Gentium Book Basic;
  width: 100%;
}

nav{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+56,006e2e+100 */
  background-color: #116416;
  opacity: 0.98;

  position: fixed;
  top: 0;
  z-index: 1;
}

#hamburger {
  width: 3em;
  height: 3em;
  float:right;
}
