nav{
  background-color: #58B93A;
  padding: 20px;
  position: relative;
}

.main-tabs{
  display: inline-flex;
}
ul.main-tabs .sub-tabs{
  display: none;
  position: absolute;
}

ul.main-tabs li:hover .sub-tabs{
  display: block;
  background-color: #58B93A;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  padding-left: 4em;
  padding-right: 4em;
}
