nav{
  background-color: #58B93A;
  padding: 20px;
}

a{
  text-decoration: none;
  padding: 5em;
  color: black;
}

ul{
  list-style: none;
  display: inline-flex;
}
 nav :hover {
   background-color: #A1EF8C;
 }
