#trail-template{
  display:none;
  float:left;
  /*width:50%;*/
  outline:solid black;
  margin-top: 2em;
  /*margin-right: 4em;*/
  margin-left:2em;
}

.clear{
  /*clear:both;*/
}

#map{
  width: 50%;
  margin-top: 2em;
  display:none;
  float: right;
  width: 500px;
  height: 400px;
}

.hike-image{
  width: 80%;
}
